#Power By Marker . MRCMS 2012-2014
#Sun Jun 23 12:28:11 CST 2014

secret_key=iSDCRbyRZP0\=
url=http\://www.yl-blog.com/
upload_path=upload/
gzip=true
dev_mode=false
log=true
themes_path=flcms
themes_cache=temp/
keywords=汉搜云内容管理系统
icp=
copyright=汉搜云内容管理系统
mastermail=
title=《武汉妇联》首页
index_page=index
error_page=error.html
description=汉搜云为您提供强大的基础网站建设支持

# 延迟启动任务
task.delay=5000
statistics=true
# HTML代码压缩
compress=true
defaultlang=zh-CN

# 页面静态化
statichtml=true

#图片上传路径
relative_path=upload/images/articleimage/
museum_path=upload/images/museumimage/
