<div class="content">
		<table class="table_for_list">
			<thead>
			 <tr> 
		        <th width="30" class="quanxuan" onclick="allCheck();">全选</th>
		        <th width="200">留言标题</th>
		        <th>留言内容</th>
		        <th width="130">留言时间</th>
		        <th width="80">状态</th>
		        <th width="40">操作</th>
		      </tr>
			</thead>
		    <tbody>
			  <#list page.getData() as x>
				<tr>
			      	<td class="checkbox"><input type="checkbox" value="${x.id?c}" /></td>
			        <td style="overflow:hidden;">
			        	<div style="word-break:keep-all;white-space:nowrap;width:200px;">${x.title!}</div>
			        </td>
			        <td style="position:relative;overflow:hidden;">
			        	<div style="word-break:keep-all;white-space:nowrap;position: absolute;top: 1px;">${x.content!}</div>
			        </td>
					<td><#if x.time?exists>${x.time?string("yyyy-MM-dd HH:mm:ss")}<#else>null></#if></td>
			        <td class="tac">
			        	<#if x.status == 1>
			        		<b style="color:#999;"><i class="fa fa-info-circle"></i></b> 待回复
			        	</#if>
						<#if x.status == 2>
			        		<b style="color:#eede00;"><i class="fa fa-dot-circle-o"></i></b> 待审核
						</#if>
						<#if x.status == 3>
			        		<b style="color:green;"><i class="fa fa-check-circle"></i></b> 已发布
						</#if>
			        	<#if x.status == 4>
			        		<div class="h-show-tip" data-title="${x.reject!}"><b style="color:#dc0008;"><i class="fa fa-times-circle"></i></b> 已驳回</div>
						</#if>
				    </td>
			        <td>
						<#if userbutton?index_of("402001") != -1 >
							<a href="#" action="/plugin/guestbook/reply?rid=${x.id?c}" onclick="refreshContentByElement(this);">
								<i class="fa fa-pencil-square-o"></i>
							</a>
						</#if>
						<#if userbutton?index_of("402002") != -1>
							<a href="#" action="/plugin/guestbook/delete?rid=${x.id?c}" return="/plugin/guestbook/list?currentPageNo=${page.currentPageNo?c}" onclick="deleteById(this);">
								<i class="fa fa-trash-o"></i>
							</a>
						</#if>
			        </td>
			    </tr>
			  </#list>
			</tbody>
		</table>
	  <#include "/views/_page.html" />
  <@guestbookPage currentPage=page.currentPageNo totalPage=page.totalPages />
</div>
